{% load static %}
<!DOCTYPE html>
<html lang="Eng" class="h-100" ng-app>
	
	<head>
		<title>КиноМонстр - Сериалы</title>
		{% include 'layouts/head.html' %}
		<script type="text/javascript">
			window.onload = function() {
				var nav_link = document.querySelectorAll("#serials_link")
				if (nav_link.length > 0) {
					nav_link[0].style.color = "#ADFF2F"
				}
			}
		</script>
	</head>

	<body vlink="#ADFF2F" class="d-flex flex-column h-100">

		{% include 'layouts/header.html' %}

		<main class="row content-indent flex-shrink-0">

			<div class="col-md-12 col-lg-8">
				<article class="article-container">
					<div class="thumb-container no-indent">
						<img class="thumbnail-image" alt="Гоголь" src="{% static 'image/5.jpeg' %}">
					</div>
					<div class="article-text">
						<h4 class="article-title">Гоголь</h4>
						<p class="ordinary-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae magnam omnis distinctio cum nesciunt eaque voluptas, mollitia tenetur ex fugit nostrum perspiciatis quo expedita nulla voluptate voluptates consequatur quae, ipsam?
						</p>
					</div>
					<a class="about-link article-link" href="#">Подробнее</a>
				</article>

				<article class="article-container">
					<div class="thumb-container no-indent">
						<img class="thumbnail-image" alt="Ходячие мертвецы" src="{% static 'image/6.jpeg' %}">
					</div>
					<div class="article-text">
						<h4 class="article-title">Ходячие мертвецы</h4>
						<p class="ordinary-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae magnam omnis distinctio cum nesciunt eaque voluptas, mollitia tenetur ex fugit nostrum perspiciatis quo expedita nulla voluptate voluptates consequatur quae, ipsam?
						</p>
					</div>
					<a class="about-link article-link" href="#">Подробнее</a>
				</article>

				<article class="article-container">
					<div class="thumb-container no-indent">
						<img class="thumbnail-image" alt="Во все тяжкие" src="{% static 'image/7.jpeg' %}">
					</div>
					<div class="article-text">
						<h4 class="article-title">Во все тяжкие</h4>
						<p class="ordinary-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae magnam omnis distinctio cum nesciunt eaque voluptas, mollitia tenetur ex fugit nostrum perspiciatis quo expedita nulla voluptate voluptates consequatur quae, ipsam?
						</p>
					</div>
					<a class="about-link article-link" href="#">Подробнее</a>
				</article>

				<article class="article-container">
					<div class="thumb-container no-indent">
						<img class="thumbnail-image" alt="Секретные материалы" src="{% static 'image/8.jpeg' %}">
					</div>
					<div class="article-text">
						<h4 class="article-title">Секретные материалы</h4>
						<p class="ordinary-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae magnam omnis distinctio cum nesciunt eaque voluptas, mollitia tenetur ex fugit nostrum perspiciatis quo expedita nulla voluptate voluptates consequatur quae, ipsam?
						</p>
					</div>
					<a class="about-link article-link" href="#">Подробнее</a>
				</article>
			</div>

			{% include 'layouts/aside.html' %}

		</main>

		{% include 'layouts/footer.html' %}
	</body>

</html>