<aside class="col-md-12 col-lg-4 aside-container">

	<div class="side-block">
	    <p data-content class="block-title">Поиск</p>

	    <div class="block-content">
	 		<input data-content-placeholder class="block-input" size="12" placeholder="Ваш запрос?" name="search">
	 		<input data-content-btn type="button" class="block-btn" value="Найти">
	 	</div>
	</div>

	<div class="side-block">
	    <p data-content class="block-title">Войти</p>

	    <div class="block-content">
	 		<input data-content-placeholder class="block-input" size="12" placeholder="Логин" name="login">
			<input data-content-placeholder class="block-input" type="password" size="12" placeholder="Пароль" name="password">
	 		<input data-content-btn type="button" class="block-btn" value="Войти">
	   		<a data-content class="block-link" href="#">Забыли пароль?</a>
	   		<a data-content class="block-link" href="#">Регистрация</a>
	   	</div>
	</div>

	<div class="side-block">
	  	<p data-content class="block-title">Новости</p>

		<div class="block-content">
			<p class="news">31.02.2018</p>
			<p data-content class="news">Мы запустили</p>
			<p data-content class="news">расширенный поиск</p>
				<a data-content class="news block-link" href="#">читать</a>
		</div>
	</div>

	<div class="side-block">
     	<p data-content class="block-title">Рейтинг<br> фильмов</p>

     	<div class="block-content">
     		<p class="rating" data-rating="8.1">
   				<a data-content class="rating-item" href="#">Интерстеллар</a>
  				8.1
  			</p>


  			<p class="rating" data-rating="8.0">
   				<a data-content class="rating-item" href="#">Матрица</a>
  				8.0
  			</p>

    		<p class="rating" data-rating="7.5">
    			<a data-content class="rating-item" href="#">Безумный Макс</a>
   				7.5
   			</p>

  			<p class="rating" data-rating="7.4">
    			<a data-content class="rating-item" href="#">Cloud atlas</a>
  				7.4
  			</p>

    		<input data-content-btn type="button" class="block-btn" value="Подробности">
    	</div>
    </div>
</aside>